<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
        </style>
    </head>

    <body>
        <header>
            <!--LIGHT/DARK MODE-->
            <button id="theme-switch">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
            </button>


            <!--The whole code below is for navbar and login/register button-->
            <h2 class="Webname"><a href="/home">Genius Ticket</a></h2>
            <ion-icon class="menu-icon" name="menu-outline" onclick="showSidebar()"></ion-icon>
            <nav class="navigation">
                <a href="/home">Home</a>
                <a href="/profile">My Account</a>
                <a href="/blog">Forum</a>
                <a href="/cart">Ticket</a>
                <a href="/logout" class="btnLogin">Login</a>
            </nav>

            <nav class="side-bar">
                <ion-icon class="close-icon" name="close-outline" onclick="hideSidebar()"></ion-icon>
                <a href="/home">Home</a>
                <a href="/profile">My Account</a>
                <a href="/blog">Forum</a>
                <a href="/cart">Ticket</a>
                <a href="/logout" class="btnLogin">Login</a>
            </nav>
        </header>

        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1"><%= post.title %></h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on January 1, 2023 by Start Bootstrap</div>
        
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            <% if (post.image !== undefined && post.image !== '') { %>
                                <img class="img-fluid rounded" src="<%= post.image %>" alt="..." />
                            <% } else { %>
                                <img class="img-fluid rounded" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                            <% } %>
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4"><%= post.content %></p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <h2 class="h5 mb-4">Leave a comment</h2>
                                <form class="mb-4" id="comment-form">
                                    <input type="hidden" name="post_id" value="<%= post._id %>">
                                    <textarea class="form-control" name="comment" rows="3" placeholder="Join the discussion and leave a comment!" required></textarea><br>
                                    <input type="submit" class="btn btn-primary mt-3">
                                </form>

                                <p class="com-status" style="color: green;"></p>

                                <!-- Comment with nested comments-->
                                <% 
                                if(post.comments.length >= 0) { // Corrected condition
                                    post.comments.reverse().forEach(function(comment) { 
                                        %>
                                        <div class="d-flex mb-4">
                                            <div class="flex-shrink-0">
                                                <img class="rounded-circle" src="userImages/<%= comment.user.image %>" style="height: auto; width: 50px;" alt="..." />
                                                <p>Timestamp: <%= new Date(comment.createdAt).toLocaleString() %></p>
                                            </div>
                                            <div class="ms-3">
                                                <div class="fw-bold"><%= comment.user.name %></div>
                                                <%= comment.comment %>
                                            </div>
                                        </div>
                                        <% 
                                    });
                                } 
                                %>

                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

        <script>
             $(document).ready(function() {
                $('#comment-form').submit(function(e) {
                    e.preventDefault();

                    var formData = $(this).serialize();
                    console.log(formData);
         
                    $.ajax({
                        url: '/blog/add-comment', // Corrected URL
                        method: 'POST',
                        data: formData,
                        success: function(data) {
                            $('.com-status').html(data.message);
                            $('#comment-form')[0].reset(); // Reset form fields after submission
                            setTimeout(function() {
                                $('.com-status').text('');
                            }, 5000);
                            // Refresh the page
                            setTimeout(function() {
                                window.location.reload(); // Refresh the page to display new comments
                            }, 1000);
                        },
                        error: function(err) {
                            console.log("Error:", err); // Log any errors in the console
                        }
                    });
                });
            });

            $(document).ready(function() {
                console.log("jQuery is working!");
            });
        </script>
    </body>
</html>