<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style1.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
    </style>
</head>

<body>
    <!--DARKMODE SWITCH-->
    <header>
        <button id="theme-switch">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q14 0 27.5 1t26.5 3q-41 29-65.5 75.5T444-660q0 90 63 153t153 63q55 0 101-24.5t75-65.5q2 13 3 26.5t1 27.5q0 150-105 255T480-120Z"/></svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M480-280q-83 0-141.5-58.5T280-480q0-83 58.5-141.5T480-680q83 0 141.5 58.5T680-480q0 83-58.5 141.5T480-280ZM200-440H40v-80h160v80Zm720 0H760v-80h160v80ZM440-760v-160h80v160h-80Zm0 720v-160h80v160h-80ZM256-650l-101-97 57-59 96 100-52 56Zm492 496-97-101 53-55 101 97-57 59Zm-98-550 97-101 59 57-100 96-56-52ZM154-212l101-97 55 53-97 101-59-57Z"/></svg>
        </button>

        <!--NAVBAR-->
        <h2 class="Webname"><a href="/home">Genius Ticket</a></h2>
        <ion-icon class="menu-icon" name="menu-outline" onclick="showSidebar()"></ion-icon>
        <nav class="navigation">
            <a href="/home">Home</a>
            <a href="/profile">My Account</a>
            <a href="/blog">Forum</a>
            <a href="/cart/userEvents">Ticket</a>
            <a href="/logout" class="btnLogin">Logout</a>
        </nav>

        <nav class="side-bar">
            <ion-icon class="close-icon" name="close-outline" onclick="hideSidebar()"></ion-icon>
            <a href="/home">Home</a>
            <a href="/profile">My Account</a>
            <a href="/blog">Forum</a>
            <a href="/cart/userEvents">Ticket</a>
            <a href="/logout" class="btnLogin">Logout</a>
        </nav>
    </header>


    <!--PRODUCT PAGE-->
    <div class="product-wrapper">
        <div class="product-container">
            <div class="pro-img">
                <img src="/imgs/<%= event.image %>" alt="Product Image" loading="lazy" height="550" width="460">
            </div>

            <div class="pro-detail">
                <form action="/cart/<%= event._id %>" method="POST">
                    <input type="hidden" name="eventId" value="<%= event._id %>">
                    <h1><%= event.name %></h1>
                    <h3><%= event.price %> BATH</h3>
                    <p><%= event.description %></p>
                    <p class="tic-amount">Quantity of ticket(s):</p>
                    <input class="amount" type="number" name="quantity" value="1" min="1" max="10" />
                    <button type="submit" value="Buy Now" class="pro-btn">Buy Now</button>
                </form>
            </div>
        </div>
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script type="text/javascript" src="/js/darkmode.js" defer></script>
    <script src="/js/script.js"></script>
</body>
</html>
